[submodule ".agents/marketingskills"]
	path = .agents/marketingskills
	url = https://github.com/coreyhaines31/marketingskills.git
[submodule ".agents/ui-ux-pro-max-skill"]
	path = .agents/ui-ux-pro-max-skill
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill.git
